src/lib/internal/generators/soap-service/templates/src/main/resources/wsdl/$$preffixClassName$$WsPortType.xml

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns2="http://api.soap.<%- artifactId %>.example.com/" name="<%- preffixClassName %>WsPortType"
                  targetNamespace="http://api.soap.<%- artifactId %>.example.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://api.soap.<%- artifactId %>.example.com/" elementFormDefault="unqualified"
                   targetNamespace="http://api.soap.<%- artifactId %>.example.com/" version="1.0">

            <xs:element name="<%- preffixClassName %>Dto" type="tns:<%- preffixVariableName %>Dto"/>

            <xs:element name="create<%- preffixClassName %>" type="tns:create<%- preffixClassName %>"/>

            <xs:element name="create<%- preffixClassName %>Response" type="tns:create<%- preffixClassName %>Response"/>

            <xs:element name="delete<%- preffixClassName %>ById" type="tns:delete<%- preffixClassName %>ById"/>

            <xs:element name="delete<%- preffixClassName %>ByIdResponse" type="tns:delete<%- preffixClassName %>ByIdResponse"/>

            <xs:element name="find<%- preffixClassName %>ById" type="tns:find<%- preffixClassName %>ById"/>

            <xs:element name="find<%- preffixClassName %>ByIdResponse" type="tns:find<%- preffixClassName %>ByIdResponse"/>

            <xs:element name="find<%- preffixClassName %>Page" type="tns:find<%- preffixClassName %>Page"/>

            <xs:element name="find<%- preffixClassName %>PageResponse" type="tns:find<%- preffixClassName %>PageResponse"/>

            <xs:element name="update<%- preffixClassName %>ById" type="tns:update<%- preffixClassName %>ById"/>

            <xs:element name="update<%- preffixClassName %>ByIdResponse" type="tns:update<%- preffixClassName %>ByIdResponse"/>

            <xs:complexType name="create<%- preffixClassName %>">
                <xs:sequence>
                    <xs:element name="<%- preffixVariableName %>" type="tns:<%- preffixVariableName %>Dto"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="<%- preffixVariableName %>Dto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" type="xs:string"/>
                    <xs:element minOccurs="0" name="creationDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="dischargedDate" type="xs:dateTime"/>
                    <xs:element name="amount" type="xs:double"/>
                    <xs:element name="type" type="tns:<%- preffixVariableName %>TypeDto"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="create<%- preffixClassName %>Response">
                <xs:sequence>
                    <xs:element name="return" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="update<%- preffixClassName %>ById">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="<%- preffixVariableName %>" type="tns:<%- preffixVariableName %>Dto"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="update<%- preffixClassName %>ByIdResponse">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="delete<%- preffixClassName %>ById">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="delete<%- preffixClassName %>ByIdResponse">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="find<%- preffixClassName %>ById">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="find<%- preffixClassName %>ByIdResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:<%- preffixVariableName %>Dto"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="find<%- preffixClassName %>Page">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" type="xs:string"/>
                    <xs:element minOccurs="0" name="amount" type="xs:double"/>
                    <xs:element minOccurs="0" name="type" type="tns:<%- preffixVariableName %>TypeDto"/>
                    <xs:element minOccurs="0" name="pageNumber" type="xs:long"/>
                    <xs:element minOccurs="0" name="pageSize" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="find<%- preffixClassName %>PageResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:PaginationResult<%- preffixClassName %>Dto"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PaginationResult<%- preffixClassName %>Dto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="offset" type="xs:long"/>
                    <xs:element minOccurs="0" name="pageNumber" type="xs:long"/>
                    <xs:element minOccurs="0" name="pageSize" type="xs:long"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="result" nillable="true" type="tns:<%- preffixVariableName %>Dto"/>
                    <xs:element name="total" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>

            <xs:simpleType name="<%- preffixVariableName %>TypeDto">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="ENUM_TYPE_1"/>
                    <xs:enumeration value="ENUM_TYPE_2"/>
                    <xs:enumeration value="ENUM_TYPE_3"/>
                </xs:restriction>
            </xs:simpleType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="create<%- preffixClassName %>">
        <wsdl:part element="ns2:create<%- preffixClassName %>" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="update<%- preffixClassName %>ById">
        <wsdl:part element="ns2:update<%- preffixClassName %>ById" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="delete<%- preffixClassName %>ById">
        <wsdl:part element="ns2:delete<%- preffixClassName %>ById" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="delete<%- preffixClassName %>ByIdResponse">
        <wsdl:part element="ns2:delete<%- preffixClassName %>ByIdResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="find<%- preffixClassName %>PageResponse">
        <wsdl:part element="ns2:find<%- preffixClassName %>PageResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="find<%- preffixClassName %>ById">
        <wsdl:part element="ns2:find<%- preffixClassName %>ById" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="find<%- preffixClassName %>Page">
        <wsdl:part element="ns2:find<%- preffixClassName %>Page" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="find<%- preffixClassName %>ByIdResponse">
        <wsdl:part element="ns2:find<%- preffixClassName %>ByIdResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="create<%- preffixClassName %>Response">
        <wsdl:part element="ns2:create<%- preffixClassName %>Response" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="update<%- preffixClassName %>ByIdResponse">
        <wsdl:part element="ns2:update<%- preffixClassName %>ByIdResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="<%- preffixClassName %>WsPortType">
        <wsdl:operation name="create<%- preffixClassName %>">
            <wsdl:input message="ns2:create<%- preffixClassName %>" name="create<%- preffixClassName %>">
            </wsdl:input>
            <wsdl:output message="ns2:create<%- preffixClassName %>Response" name="create<%- preffixClassName %>Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update<%- preffixClassName %>ById">
            <wsdl:input message="ns2:update<%- preffixClassName %>ById" name="update<%- preffixClassName %>ById">
            </wsdl:input>
            <wsdl:output message="ns2:update<%- preffixClassName %>ByIdResponse" name="update<%- preffixClassName %>ByIdResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete<%- preffixClassName %>ById">
            <wsdl:input message="ns2:delete<%- preffixClassName %>ById" name="delete<%- preffixClassName %>ById">
            </wsdl:input>
            <wsdl:output message="ns2:delete<%- preffixClassName %>ByIdResponse" name="delete<%- preffixClassName %>ByIdResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="find<%- preffixClassName %>ById">
            <wsdl:input message="ns2:find<%- preffixClassName %>ById" name="find<%- preffixClassName %>ById">
            </wsdl:input>
            <wsdl:output message="ns2:find<%- preffixClassName %>ByIdResponse" name="find<%- preffixClassName %>ByIdResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="find<%- preffixClassName %>Page">
            <wsdl:input message="ns2:find<%- preffixClassName %>Page" name="find<%- preffixClassName %>Page">
            </wsdl:input>
            <wsdl:output message="ns2:find<%- preffixClassName %>PageResponse" name="find<%- preffixClassName %>PageResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>